body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
   background-color: aliceblue;
}

h1 {
    color: #734571;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #e71cbf;
}

p {
    margin: 15px 0;
    color: #444;
}

ul {
    list-style-type: square;
    margin: 10px 0 20px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #151414;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dfdcdcfe;
}

button {
    background-color: #1a1aec;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

.word {
    font-size: 2em;
    color: #f81212;
    text-align: center;
}
/* .bassma {
    color: #b312f8; 
   
}

.bassma1{
    color: #b312f8;
}

.bassma2{
    color: #b312f8;
}
.bassma3{
    color: #b312f8; */
/* } */
h4{
    color: #ce34c4;
}